body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-home {
  background-color: antiquewhite;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.header-home {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 6vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.button-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

.button-home span {
  margin-bottom: 20px;
}

.button-home button {
  margin-bottom: 20px;
}

.welcome-home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 100%;
}

#welcomeHeading {
  margin-bottom: 40px;
  width: 40%;
}

#pokemonLogo {
  margin-bottom: 40px;
  width: 30%;
}

#appDescription {
  width: 40%;
}

/* List Styles - below */

.header-list {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 6vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pokemon-card {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 25vh;
  flex-direction: column;
  width: 20%;
}

.pokemon-images {
  height: 10vh;
  width: 30%;
}

.favorites-list {
  align-items: center;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 5px;
  height: 50vh;
  width: 100%;
}